
.about_cards {
    max-width: 32rem; /* max-w-lg */
    padding-top: 1rem; /* py-4 */
    padding-bottom: 1rem;
    border-radius: 1rem; /* rounded-2xl */
    background-color: rgba(31, 41, 55, 0.4); /* bg-gray-800/40 */
    backdrop-filter: blur(12px); /* backdrop-blur-md */
    border: 1px solid rgba(255, 255, 255, 0.1); /* border border-white/10 */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    transition-property: all; /* transition-all */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; /* duration-300 */
}

.about_cards:hover {
    transform: translateY(-4px); /* hover:-translate-y-1 */
    background-color: rgba(31, 41, 55, 0.8); /* hover:bg-gray-800/80 */
    border-color: rgba(139, 92, 246, 0.3); /* hover:border-violet-400/30 */
}

/* last_card */
.service {
    display: flex;
    gap: 1rem; 
    margin-left: 0.5rem; 
    margin-top: 1rem; 
}

.service .icon {
    margin-top: 0.75rem; 
    font-size: 1.875rem; 
    line-height: 2.25rem;
    color: #e879f9; /* text-fuchsia-400 */
}

.service h3 {
    font-size: 1.5rem; 
    line-height: 2rem;
    color: #ffffff; 

}

.service p {
    font-size: 1.125rem; 
    line-height: 1.75rem;
    color: #bfdbfe; 
    flex-wrap: wrap;
}

.skill_items {
    max-width: 28rem;
    margin-block: 1.25rem;
}

.skill_items h5 {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #dbeafe; /* text-blue-100*/
}

.skill_items .progress_bar {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: #9ca3af;
    border: 1px solid #8b5cf6;
    border-radius: 1rem;
}

.progress_bar p {
    position: absolute;
    right: 0.25rem;
    top: -2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.progress_bar .progress {
    background: linear-gradient(135deg, #2f69ac, #ec17b7);
    height: 100%;
    border-radius: 1rem;
}