@import "tailwindcss";

.hero_title h3{
     font-family: cursive, sans-serif;
}
 .greting{
     font-family: cursive, sans-serif;
}
.hero_title .name{
     font-family: "Cinzel", serif;
}


.hero_title span{
    /* color:#d946ef; */
    @apply text-fuchsia-400;
}
.type_animation{
    font-family: "Cinzel", serif;
}